.tabela {
    border: 1px solid;
    border-color: black;
}
  
.pilha {
  border: 0px solid;
  border-color: black;
  width: 30%;
}
.instrucoes {
  border: 0px solid;
  border-color: black;
  width: 70%;
}

.principal {
  border: 0px solid;
  width: 95vw;
  border-color: black;
  display: flex;
  justify-content: center;
  margin: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}